@import './prefixes';

@mixin icon {
    display: inline-block;
    &:before {
        content: "";
        display: inline-block;
        width: 26px;
        height: 26px;
        vertical-align: middle;
        background: {
            image: url('//x.360buyimg.com/images/boss/yizhitou/index.png');
            repeat: no-repeat;
        }
    }
}

//成功图标，勾
.icon-success {
    @include icon;
    &:before {
        width: 46px;
        height: 46px;
        background-position: -188px -218px;
    }
}

//失败图标，叉
.icon-error {
    @include icon;
    &:before {
        width: 46px;
        height: 46px;
        background-position:-266px -218px;
    }
}


//关闭图标，叉
.icon-close {
    @include icon;
    &:before {
        width: 36px;
        height: 36px;
        background-position: -494px -88px;
    }
}

//右滑窗口关闭图标
.icon-slide {
    @include icon;
    &:before {
        width: 24px;
        height: 40px;
        background-position: -142px -222px;
    }
}


//用户图标
.icon-user {
    @include icon;
    &:before {
        width: 30px;
        height: 30px;
        background-position: -75px -82px;
    }
}

//附件图标
.icon-attachment {
    @include icon;
    &:before {
        width: 24px;
        height: 24px;
        background-position: -215px -134px;
    }
}
