$fontFamily: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif; //整体字体 "PingFangSC-Regular"
$fontWeight: normal;
$mainColor: #119dff;      //主要色调，a标签链接、按钮背景色
$confirmColor: #119dff;   //查询，确认按钮颜色
$submitColor: #fe4447;    //提交按钮颜色
$fontSize: '12px';          //整体字体
$titleFontSize: '14px';     //标题字体大小
$hoverColor: rgba(223,230,236, 0.4);     //table鼠标滑过和停留时颜色

